{% extends "layout.html" %}

{% block body %}
{% set args = request.view_args %}

<h3>{{ args['category'] }}: {{ args['survey_id'] }} ({{ args['company'] }})</h3>

{% for label, value in metrics %}
<div class="metric">
    <span class='metric-label'>{{ label }}: </span>
    <span class='metric-value'>{{ "%0.3f" | format(value) }}</span>
</div>
{% endfor %}

<nav class="configset-list">
    <ul>
    {% for configset in all_configsets %}
            {% if configset == args['configset'] %}
            <li class="tab selected-tab"><span class="sel-configset">{{ configset }}</span></li>
            {% else %}
            <li class="tab other-tab">
                <a class="configset-link"
                   href="{{ url_for('show_survey_theme', category=args['category'], configset=configset, company=args['company'], survey_id=args['survey_id']) }}">
                    {{ configset }}
                </a>
            </li>
            {% endif %}
    {% endfor %}
    </ul>
</nav>

<table class="theme-results">
    <thead>
    <th class="theme-id">ID</th>
    <th class="theme-labels">Labels</th>
    <th class="theme-comments">Comments</th>
    </thead>
    <tbody>
    {% for th in theme_result.themes %}
    <tr data-theme-id="{{ th.id }}">
        <td class="theme-id">{{ th.id }}</td>
        <td class="theme-labels">
            <dl>
                {% for label, value in th.labels.items() %}
                <dt>{{ label }}</dt>
                <dd>{{ value }}</dd>
                {% endfor %}
            </dl>
        </td>
        <td class="theme-comments">
            <ul>
                {% for doc in th.documents | sort(attribute='closeness', reverse=True) %}
                <li title="{{ doc.id }}" data-doc-id="{{ doc.id }}" data-closeness="{{ doc.closeness }}">
                    <span class="closeness">{{ "%0.2f" | format(doc.closeness) }}</span>
                    <span class="doc-text">{{ doc.text }}</span>
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}